  *{
    font-family: "gilroy","kajiro Bold";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
#main{
    width: 100%;
    height: 100vh;
    
}

#back{
    width: 100%;
    height: 100vh;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}
#working{
    position: relative;
    width: 80%;
    margin:  0 auto;
    height: 100vh;
    max-width: 1920px;
    /*background-color: #888;*/
    
}
#nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
    padding: 40px 0 ;
}
#navl img{
    height: 60px;
}
#navl,#navr{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a{
    pointer-events: all;
    color: white;
    font-family: "kajiro";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
#hero{
    position: absolute;
    top: 20%;
    left: 0;
    transform: translate(0% -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}
#herol{
    min-width:50%;
    
}
#hero .elem{
    position: relative;
    height: 9vw;
    overflow: hidden;
}
#herol .elem h1:nth-child(1){
    top: 0;
}
#herol .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 11vw;
    line-height: .9;
    font-family:"kajiro";
    color: white;
    font-weight: 100;
}
#herol button{
    pointer-events: all;
    padding: 1vw 4vw;
    font-family: "kajiro";
    font-size: 2.7vw;
    margin-top: 1.3vw;

}
#heror{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:17%;
    color: white;
    
    
}
#heror p{
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}
#heror #image{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1530432999454-016a47c78af3?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHN1bmdsYXNzfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}

#heror p:nth-child(3){
    margin-bottom: 100px;
}
